<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=manufacturer&direction=asc" class="dropdown-item ">By Manufacturer</a>
                <a href="{% url 'products' %}?sort=ecubrand&direction=asc" class="dropdown-item ">By ECU Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="petrol-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Petrol
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="petrol-link">
                <a href="{% url 'products' %}?category=petrol_bosch" class="dropdown-item">Bosch</a>
                <a href="{% url 'products' %}?category=petrol_continental" class="dropdown-item">Continental</a>
                <a href="{% url 'products' %}?category=petrol_denso" class="dropdown-item">Denso</a>
                <a href="{% url 'products' %}?category=petrol_valeo" class="dropdown-item">Valeo</a>
                <a href="{% url 'products' %}?category=petrol_bosch,petrol_continental,petrol_denso,petrol_valeo" class="dropdown-item">All Petrol ECU's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="diesel-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diesel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="diesel-link">
                <a href="{% url 'products' %}?category=diesel_bosch" class="dropdown-item">Bosch</a>
                <a href="{% url 'products' %}?category=diesel_continental" class="dropdown-item">Continental</a>
                <a href="{% url 'products' %}?category=diesel_denso" class="dropdown-item">Denso</a>
                <a href="{% url 'products' %}?category=diesel_valeo" class="dropdown-item">Valeo</a>
                <a href="{% url 'products' %}?category=diesel_bosch,diesel_continental,diesel_denso,diesel_valeo" class="dropdown-item">All Diesel ECU's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>